*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-color: #f2f;
}
.greeting-mess{
    padding: 20px;
    text-align: center;
}
.greeting-mess h1{
    font-size: 30px;
    font-family: sans-serif;
    padding: 20px 0px 20px;
    color: blue;
}
.greeting-mess p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
/* Here is the gallery */
.gallery{
    width: 100%;
    background-color: #555;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width:250px;
    box-sizing: border-box;
    background-color: darkgray;
    border-radius: 10px;
    margin: 10px;
}
.card .card-desc{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.card img{
    width: 100%;
}